 body {
        /*padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;*/
      }

      .form-signin {
        max-width: 700px;
        padding: 19px 2px 29px;
       /* margin: 0 auto 20px;*/
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      /*.form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }*/

.border-radius
{
	border-radius:4px;
	border:1px solid #CCC;

}

.create{
	
	border:1px solid #CCC; 
	margin-bottom: 30px;
	border-radius:4px;
	
}


.tl{
	width:950px;
	
}


.center-text
{
	text-align: center;
}
.pad
{
	text-align: justify;
	padding:0 15px 0 15px;
}

.loader{
		background-image: url(assets/img/ajax-loader_004.gif);
		background-repeat:no-repeat;
		background-position:center;
		height:100px;
	  
	}
	.loading{
		background-position:center;
		text-align:center;
		color:#000;
		text-shadow:#06F;
	}

.line {
  border: 1px dotted #fff;
}

